# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings folder
.vscode/

# ignore macOS metadata files
._*
.DS_Store
._requirements.txt

*.db

#ignore local folder 
uncleaned_thermostat_data/

data/processed/thermostat_data_cleaned.csv

data/raw/dropped_thermostat_rows.csv

data/processed/weather_data_cleaned.csv

notebooks/clean_thermostat_data.ipynb

notebooks/clean_weather_data.ipynb

database/