# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings folder
.vscode/

# ignore macOS metadata files
._*
.DS_Store
._requirements.txt

#ignore local folder uncleaned_thermostat_data/
uncleaned_thermostat_data/
